
$bg-red:red;

.common-class{
  background-color: green;
  width: 200px;
  height: 200px;
  border-radius: 50px;
}


$font-family: "Playfair Display";
$letter-spacing: 5px;
$padding_left: 15px;
$padding_right: 15px;